@{
    var contentList = (List<string>)ViewBag.content;
    var resultList = (List<string>)ViewBag.result;
    string imageUrl = ViewBag.imageUrl; // Added for image display
    Guid analysisId = (Guid)ViewBag.id;
}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold">Architecture reference</h1>
        <p class="col-md-8 fs-4">The components you provide:</p>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            @if (contentList.Any())
            {
                foreach (string item in contentList)
                {
                    <div class="col">
                        <div class="card mb-4 rounded-3">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">@item</h4>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-info" asp-action="Template" asp-route-target="@item" asp-route-type="single" target="_blank">Generate @item template</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <a class="btn btn-primary btn-lg" asp-action="Template" asp-route-id="@analysisId" asp-route-type="multiple" target="_blank">Click to generate Bicep template for solution</a>
    </div>
</div>

<hr />
<h2 class="display-6 text-center mb-4">Architecture details</h2>
<div class="container my-4">
    @if (resultList.Any())
    {
        @foreach (var item in resultList)
        {
            <div>
                @Html.Raw(item)
            </div>
        }
    }
</div>

<!-- Added image display section from Analyze.cshtml -->
<div class="row">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h5 class="my-0 fw-normal">The image being analyzed is:</h5>
                </div>
                <div class="card-body text-center">
                    <img src="@imageUrl" class="img-fluid" alt="Analyzed Image" />
                </div>
            </div>
        </div>
    </div>
</div>